@font-face{
	font-family: 'Baloo 2';
	src: url('./font/Baloo2-VariableFont_wght.ttf');
	font-display: swap;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;

	font-family: 'Baloo 2';

	scroll-behavior: smooth;

	outline-color: #00E963;
}

a, button{
	cursor: pointer;
}

body{
	overflow-x: hidden;
}