@font-face{
	font-family: Nunito;
	src: url('./font/Nunito-Regular.ttf');
	font-display: swap;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;

	font-family: 'Nunito';

	scroll-behavior: smooth;

	outline-color: #00E963;
}

a, button{
	cursor: pointer;
}

body{
	overflow-x: hidden;
}